.DFContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 20px;
}
