:root {
  --bg-color: #f7f7f7;
  --text-color: #141e27;
}

.header.dark-theme {
  --bg-color: #141e27;
  --text-color: #f7f7f7;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 1024px;
  /* margin-right: 1.5rem;
  margin-left: 1.5rem; */
  margin-inline: 1.3rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
}

.nav-logo {
  font-size: 1.3rem;
  color: var(--text-color);
}

@media screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 1.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 90%;
    transition: 0.7s;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  text-align: center;
}

.nav-link {
  color: var(--text-color);
  font-size: 1.2rem;
}

.nav-link.active {
  font-weight: 600;
}

.nav-link .nav-toggle {
  font-size: 1.4rem;
  cursor: pointer;
}

.nav-menu.show {
  top: 3.8rem;
}

@media screen and (min-width: 769px) {
  .nav {
    height: 4.5rem;
  }
  .nav-toggle {
    display: none;
  }

  .nav-list {
    flex-direction: row;
    column-gap: 1.9rem;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin-inline: auto;
  }
}
